.Header {
    height: 5em;
    width: 100em;
    z-index: 98;
    overflow-x: hidden;
    
    margin-top: -8px;

    background: black;
    position: fixed;
}

.Header input {
    margin-left: 15.8em;
    margin-top: 13px;

    height: 50px;
    width: 40em;
    position: fixed;

    border: 0;
    border-radius: 10px;

    font-size: 15px;

    background-color: rgb(31, 30, 30);
    color: white;

    overflow-x: hidden;
}

.Header > div{
    background: white;

    margin-left: 200px;
    margin-top: 77px;
    position: fixed;

    height: 1px;
    width: 80em;

    overflow-x: hidden;
}

.Header img {
    margin-left: 75em;
    margin-top: 20px;
    border-radius: 50px;

    height: 40px;

    position: absolute;
}