.options{
    position: fixed;
    
    z-index: 99;
    background-color: black;
    left: 0;
}

.imgDeezer{
    height: 50px;
    width: 130px;
    
    left: 2em;
    cursor: pointer;

    position: absolute;
}

.options ul {
    color: white;

    position: absolute;
    top: 5em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;

    list-style-type: none;
    cursor: pointer;
}

.options li:hover {
    color: rgb(189, 8, 8)
}


.imgIcon {
    
    width: 20px;
    height: 20px;

    padding-right: 10px;
}

.options div{
    background: white;

    margin-left: 210px;

    height: 41em;
    width: 1px;
}